@import './bootstrap/scss/bootstrap.scss';

header > aside,
section {
  padding: 1rem;
}

header {
  background-color: #e5e5e5;
}

main > section {
  border: #ccc 0.5rem solid;
}

footer {
  padding: 1rem;
  background-color: #e5e5e5;
}

body > aside {
  padding: 1rem;
  background-color: rosybrown;
}
